Simit/Service References/GetPointsService/WsPuntosAtencion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Servicios/" targetNamespace="http://Servicios/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BuscarPuntos" type="tns:BuscarPuntos" />
  <xs:element name="BuscarPuntosResponse" type="tns:BuscarPuntosResponse" />
  <xs:element name="Exception" type="tns:Exception" />
  <xs:complexType name="BuscarPuntos">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodDepartamento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BuscarPuntosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:clsSalidaPuntos" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clsSalidaPuntos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="puntos" nillable="true" type="tns:clsDatosPuntos" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clsDatosPuntos">
    <xs:sequence>
      <xs:element minOccurs="0" name="celular1" type="xs:string" />
      <xs:element minOccurs="0" name="celular2" type="xs:string" />
      <xs:element minOccurs="0" name="direcciones" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="horarios" type="xs:string" />
      <xs:element minOccurs="0" name="latitud" type="xs:string" />
      <xs:element minOccurs="0" name="longitud" type="xs:string" />
      <xs:element minOccurs="0" name="municipios" type="xs:string" />
      <xs:element minOccurs="0" name="sectores" type="xs:string" />
      <xs:element minOccurs="0" name="telefono1" type="xs:string" />
      <xs:element minOccurs="0" name="telefono2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>